
.btn {
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0.25rem;
    &:active {
        box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
    }
}

.btn-color-primary {
    &.btn-solid {
        background-color: rgb(102, 29, 171);
        color: white;
        border-color: rgb(102, 29, 171);
        &:hover {
            background-color: rgb(81, 22, 136);
            border-color: rgb(81, 22, 136)
        }
    }
    &.btn-outline {
        background-color: transparent;
        color: rgb(102, 29, 171);
        border-color: rgb(102, 29, 171);
        &:hover {
            background-color: rgb(102, 29, 171, 0.25);
            color: rgb(102, 29, 171);
            border-color: rgb(102, 29, 171)
        }
    }
}




.btn-color-success{
    &.btn-solid {
        background-color: rgb(24, 103, 11);
        color: white;
        border-color: rgb(24, 103, 11);
        &:hover {
            background-color: rgb(16, 70, 7);
            color: white;
            border-color: rgb(16, 70, 7)
        }
    }
    &.btn-outline {
        background-color: transparent;
        color: rgb(24, 103, 11);
        border-color: rgb(24, 103, 11);
        &:hover {
            background-color: rgb(24, 103, 11, 0.25);
            color: rgb(24, 103, 11);
            border-color: rgb(24, 103, 11)
        }
    }
}




.btn-color-error {
    &.btn-solid {
        background-color: rgb(165, 51, 31);
        color: white;
        border-color: rgb(165, 51, 31);
        &:hover {
            background-color: rgb(116, 32, 18);
            color: white;
            border-color: rgb(116, 32, 18)
        }
    }
    &.btn-outline {
        background-color: transparent;
        color: rgb(165, 51, 31);
        border-color: rgb(165, 51, 31);
        &:hover {
            background-color: rgb(165, 51, 31, 0.25);
            color: rgb(165, 51, 31);
            border-color: rgb(165, 51, 31)
        }
    }
}
