
.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.input-label {
    font-size: 1rem;
    color: white;
}

.input-field {
    border: 1px solid rgb(149, 68, 225);
    color: white;
    background: transparent;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    &.input-error {
        border-color: rgb(164, 19, 19)
    }
}


.input-error-text {
    color: rgb(164, 19, 19);
    font-size: 14px
}